/* Estilos para el contenido generado por el editor TinyMCE */
.editor-content h1,
.editor-content h2,
.editor-content h3,
.editor-content h4 {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #1f2937;
}

.editor-content h1 {
    font-size: 2rem;
}

.editor-content h2 {
    font-size: 1.5rem;
}

.editor-content h3 {
    font-size: 1.25rem;
}

.editor-content p {
    margin-bottom: 1rem;
}

.editor-content ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.editor-content ol {
    list-style-type: decimal;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.editor-content a {
    color: #b91c1c;
    text-decoration: underline;
    font-weight: bold;
}

.editor-content strong,
.editor-content b {
    font-weight: 900;
}

.editor-content em,
.editor-content i {
    font-style: italic;
}